.pytest_cache
*__pycache__*
*.mypy_cache*
*ipynb_checkpoints*
data/raw/full/noisy/main.csv
data/raw/full/std/main.csv
data/raw/full/probend/main.csv
data/raw/stewart_plotkin/noisy/main.csv
data/raw/stewart_plotkin/std/main.csv
data/raw/stewart_plotkin/probend/main.csv
