.pytest_cache
*__pycache__*
*.mypy_cache*
*ipynb_checkpoints*
data/raw/full/noisy/*.csv
data/raw/full/std/*.csv
data/raw/full/probend/*.csv
data/raw/stewart_plotkin/noisy/*.csv
data/raw/stewart_plotkin/std/*.csv
data/raw/stewart_plotkin/probend/*.csv
data/processed/full/noisy/overall/main.csv
data/processed/full/std/overall/main.csv
data/processed/full/probend/overall/main.csv
data/processed/stewart_plotkin/noisy/overall/main.csv
data/processed/stewart_plotkin/std/overall/main.csv
data/processed/stewart_plotkin/probend/overall/main.csv
data/processed/full/noisy/per_opponent/main.csv
data/processed/full/std/per_opponent/main.csv
data/processed/full/probend/per_opponent/main.csv
data/processed/stewart_plotkin/noisy/per_opponent/main.csv
data/processed/stewart_plotkin/std/per_opponent/main.csv
data/processed/stewart_plotkin/probend/per_opponent/main.csv
main.aux
main.bbl
main.bcf
main.bib.bak
main.bib.sav
main.blg
main.fdb_latexmk
main.fls
main.log
main.run.xml
*main.csv
*raw.tar.gz
